@using X.PagedList.Mvc.Core
@using AgendaContato.Helpers
@model X.PagedList.IPagedList<AgendaContato.Models.CONTATO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Contatos</h1>
    <a asp-controller="Home" asp-action="CriarContato" class="btn btn-primary"> + Criar novos contatos</a>
    <br />

    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Categoria</th>
                <th>Favorito</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var contato in Model)
                {
                    if (contato.CONTATO_FAVORITO.HasValue && contato.CONTATO_FAVORITO == true)
                    {
                        string tipoContato = contato.TIPOCONTATO != null ? contato.TIPOCONTATO.TIPO_NOME : "Sem grupo";
                        <tr>
                            <td>@contato.CONTATO_NOME</td>
                            <td>@contato.CONTATO_NUMERO</td>
                            <td>@tipoContato</td>
                            <td>
                                <i class="fa-solid fa-star"></i>
                            </td>
                            <td>
                                <a asp-action="CriarContato" asp-route-id="@contato.CONTATO_COD" class="btn btn-sm btn-warning"><i class="fa-solid fa-pencil"></i></a>
                                <a href="#" onclick="confirmarExclusao(@contato.CONTATO_COD)" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-4">
        @Html.PagedListPager(
                 Model,
                 page => Url.Action("Index", new { page }),
                 PaginationHelper.Bootstrap5()
                 )
    </div>
</div>

<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function confirmarExclusao(contatoId) {
        Swal.fire({
            title: 'Excluir',
            text: "Tem certeza que deseja excluir?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, excluir!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Home/DeletaContato/' + contatoId;
            }
        });
    }
</script>
