@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Contatos</h1>
	<br />
	<a asp-controller="Home" asp-action="Contato" class="btn btn-primary">Contatos</a>
	<a asp-controller="Home" asp-action="CriarContato" class="btn btn-secondary">Criar novos contatos</a>
	<a asp-controller="TipoContato" asp-action="Index">Tipos de Contato</a>
	<table class="table">
		<thead>
			<tr>
				<th>
					Nome
				</th>
				<th>
					Telefone
				</th>
				<th>
					Categoria
				</th>
				<th>
					Grupo
				</th>
				<th>
					Favorito
				</th>
				<th>
					Ação
				</th>
			</tr>
		</thead>
		@* <tbody>
			@{
				foreach (var X in Model)
				{
					<tr> 
						<td>
							@X.Nome
						</td>
						<td>
							@X.Telefone
						</td>
						<td>
							@X.Categoria
						</td>
						<td>
							@X.Nome
						</td>
						<td>
							@X.Grupo
						</td>
						<td>
							@X.Favorito
						</td>
						<td>
							<a asp-controller="Home" asp-action="Contato" class="btn btn-primary">Contatos</a>
							<a asp-controller="Home" asp-action="CriarContato" class="btn btn-secondary">Criar novos contatos</a>
						</td>
					</tr>
				}
			}
		</tbody> *@
	</table>
</div>
